.be_view, #be_view
{
	 margin: 0px 10px;
}

input, input[type="checkbox"]{
	position: static;
}

.be_combo_header, .be_list_header
{
	background-color: #a1c9e6;
}

.filterrow {
	display:inline-block;
	width:600px;
	margin: 5px 0px;
}
.filterlabel {
	display:inline-block;
	width:150px;
}

.date-cell{
	display: inline-block;
	width: 80%;
	height: 100%;
	margin-left: 4px;
	padding: 3px;
  }
  
  .orangish{
	color: black;
	background: #ff8533;
	background: -webkit-linear-gradient(#ff9933 , transparent);
	background: -o-linear-gradient(#ff9933 , transparent);
	background: -moz-linear-gradient(#ff9933 , transparent);
	background: linear-gradient(#ff9933 , transparent);
  }
  
  
  .redish {
	color: black;
	background: #ff1a1a;
	background: -webkit-linear-gradient(red , transparent);
	background: -o-linear-gradient(red , transparent);
	background: -moz-linear-gradient(red , transparent);
	background: linear-gradient(red , transparent);
  }

	.date-edit{
		float: right;
	}
  .date-edit:after {
	transform: rotate(90deg);
	color: #cccccc;
	font-size: 15px;
	}
	
	.be_rate_up{
		color: red;
	}

	.be_rate_down{
		color: limegreen;
	}