button:focus {outline:0 !important;}

button[disabled], html input[disabled]{
	cursor: default;
	pointer-events: none;
	background-color: #e6eaee;
	opacity: 1;
  }
  
html input[type=button]
{
	border-radius: 30px;  
  /*
	display: inline-block;
	padding: 0 34px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
  */
 }
 
 .button-container{
  padding: 5px;
  margin: 5px;
}

.button-container button.wj-btn,  .button-container div{
  color: #cccccc;
  border: 0;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 8px;
  background-color: #323e48;
  font-weight: normal;
  height: 26px;
}

.button-container div, .button-container button.action-btn {
  width:120px !important;
}

.be_staticviews_filters{
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px;
}

.close_static_filters{
  all: unset;
  float: right !important;
  margin: -10px 0px !important;
  font-size: 24px;
  color: #888;
  font-weight: 900;
  cursor: pointer;
}

.filterlabel {
    display: inline-block;
    width: 150px;
    font-size: 13px;
}
.be_staticviews_selectview{
  background-color: #627b8c;
  padding: 10px;
  color: white;
  font-weight: 700;
}

.wj-content {
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  font-weight:400;
}
.wj-state-selected {
  background-color: #a1c9e6;
  color: #ffffff;
}
.wj-state-multi-selected {
  background-color: #627b8c;
  color: #ffffff;
}
.wj-tooltip {
  background-color: #e5f4ff;
  color: #333333;
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background-color: #ffffff;
  color: #333333;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background-color: #f9f9f9;
  color: #333333;
}

.wj-glyph-filter {
  opacity: 1;
  margin-top: 5px;
}
.wj-filter-off .wj-glyph-filter {
  opacity: 1;
}

.wj-filter-on .wj-glyph-filter {
  opacity: .85;
  color: red;
}

.wj-cell img {
  margin: -1px 14px;
}


span.wj-glyph-plus, span.wj-glyph-minus {
  all: unset;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  font-family: monospace;
  top: 0px;
  left: 7px;
  position: absolute;
}

.wj-glyph-plus:after {
  all: unset;
  content: "+";
}

.wj-glyph-minus:after {
  all: unset;
  content: "-";
}

.wj-cell {
  white-space: normal !important;
  padding: 2px !important;
  padding-right: 12px !important;
  word-wrap: normal;
  word-break: unset;
}

.wj-cell .wj-elem-dropdown {
  position: absolute;
  top: 0;
  padding: 0px 2px 0px 0px;
  opacity: 0.8;
  right: 0;
  text-align: left !important;
}

.wj-cell.wj-header {
  color: #eeeeee;
  font-weight:700;
  background-color: #1d2b36;
  font-size: 13px;
  padding-left: 2px !important;
  padding-right: 16px !important;
}

.wj-header .wj-elem-filter {
  float: right;
  cursor: pointer;
  padding: 0 1px;
  right: 1px;
  position: absolute;
}

#be_staticviews_title{
  padding-left: 8px;
}

.wj-flexgrid {
  width:99%;
  max-height: calc(100vh - 310px);
}

#be_view.wj-flexgrid {
  min-height: calc(100vh - 310px);
}

.grid-container{
  width:99%;
  margin: auto;
}

.wj-cell a {
  color: #447db5;
  text-decoration: none;
}

.wj-cell a:hover {
  color: #169e71;
  text-decoration: none;
}

.wj-cell.wj-state-multi-selected {
    background-color: #a1c9e6;
    color: #004466;
}

.wj-cell.wj-state-selected {
    background-color: #447db5;
    color: #ffffff;
}

.wj-cell.wj-state-selected a{
    color: #ffffff !important;
}

.wj-cell.wj-state-selected a {
    color: white;
}

.wj-cell input[type="text"]{
  background-color: #004466;
  color: white;
}

img ~ .wj-elem-dropdown {
  display: none;
}
