button[disabled], html input[disabled]{
	cursor: default;
	pointer-events: none;
	background-color: #e6eaee;
	opacity: 1;
  }
  
html input[type=button]
{
	border-radius: 30px;  
  /*
	display: inline-block;
	padding: 0 34px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
  */
 }